* {
    box-sizing: border-box;
}

.line{
    float: left;
    width: 20%;
    padding: 5px;


}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.images{
    width: 100%;
    height: 100%;
} 
.text{
    width: 100%;
    height: 100%;
}
.line1{
    float: left;
    width: 25%;
    height: 20%;
    padding: 5px;


}
.row1::after {
    content: "";
    clear: both;
    display: table;
}
.images1{
    border-radius: 10px;
    width: 100%;
    height: 150px;

} 
.text1{
    width: 100%;
    height: 20%;
}
